@font-face {
    font-family: "EnriseLight";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/workbenchResources/gfx/enrise-light-webfont.woff") format("woff"), url("/workbenchResources/gfx/enrise-light-webfont.ttf") format("truetype"), url("/workbenchResources/gfx/enrise-light-webfont.svg#webfontXptnulVc") format("svg");
}
@font-face {
    font-family: "EnriseSemibold";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("/workbenchResources/gfx/enrise-semibold-webfont.woff") format("woff"), url("/workbenchResources/gfx/enrise-semibold-webfont.ttf") format("truetype"), url("/workbenchResources/gfx/enrise-semibold-webfont.svg#webfontiS7Rl6YO") format("svg");
}

body {
	background: #EBECEB;
}

#wrapper {
	background: white;
    box-shadow: 0 2px 5px 3px #999999;
	width: 960px;
	margin: 0 auto;
	padding: 0px 20px 50px;
}

#wrapper form.config {
	position: fixed;
	background-color: white;
    background-position: 12px 12px;
    width: auto;
    padding: 20px;
    box-shadow: 0 2px 5px 3px #999999;
    z-index: 1;
    margin-left: -10px;
}

form#oauth {
	
}

form#oauth fieldset {
	padding-left: 0;
	padding-top: 60px;
}

form#misc {
	margin-top: 143px;
	background: url("/workbenchResources/gfx/settings.png") no-repeat scroll 0 0 transparent;
}

form#misc fieldset {
	padding-top: 30px;
}

form#misc legend {
	padding-left: 60px;
    padding-top: 10px;
}

form#misc #misc-timeout {
	width: 30px;
	display: inline-block;
}

form#misc #misc-timeout+p.hint {
	display: inline-block;
}

#styleMethod,
#resetStyles {
	width: 95px;
}

form#colorchange {
	margin-top: 288px;
    background: url("/workbenchResources/gfx/colors.png") no-repeat scroll 0 0 transparent;
}

form#colorchange fieldset {
    padding-top: 30px;
}

form#colorchange legend {
    padding-left: 60px;
    padding-top: 10px;
}

form#colorchange input.miniColors {
	width: 68px;
    display: inline;
    height: 20px;
    line-height: 20px;
}

form#colorchange #colorchange-links {
    list-style: disc outside none;
	margin-left: 17px;
}

form#colorchange #colorchange-links li {
	margin-bottom: 5px;
}

form#colorchange #colorchange-links li:last-child {
	margin: 0;
}

form#colorchange #colorchange-links a {
	color: #FFA600;
	text-decoration: none;
}

form#colorchange #colorchange-links a:hover,
form#colorchange #colorchange-links a.hover,
.zclip,
.zclip:hover,
.zclip embed,
.zclip object {
	text-decoration: underline;
	cursor: pointer;
	outline: 0;
}

body form.formtastic {
	max-width: 50%;
}

form.formtastic div {
	margin: 0;
}

form.formtastic > p.hint,
fieldset.formtastic > p.hint,
form.formtastic > div,
fieldset.formtastic > div,
form.formtastic > ul,
fieldset.formtastic > ul {
	margin-bottom: 10px;
}

form.formtastic > *:last-child,
fieldset.formtastic > *:last-child {
	margin-bottom: 0;
}

form.formtastic div label {
	margin-bottom: 5px;
}

form.formtastic div label,
form.formtastic div input,
form.formtastic div button {
	width: 260px;
	display: block;
}

form.formtastic div input[type="button"],
form.formtastic div input[type="reset"],
form.formtastic div button {
	/*height: 20px;*/
	line-height: 20px;
}

.togglers {
	position: fixed;
	left: 50%;
	top: 0;
	margin-left: -575px;
}

.togglers li {
	background: none repeat scroll 0 0 white;
    box-shadow: 0 -8px 10px 0 #999;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    padding: 5px 10px;
    margin-top: 120px;
    text-align: center;
}

.togglers a,
.togglers a:active,
.togglers a:visited {
	color: #FFA600;
}

#copyToClipboard.succes:after {
	content: " ✓";
}

#styleToggler {
	margin: 245px -94px 0;
}

#showStylesContainer {
	margin-top: 5px;
	overflow: auto;
	max-height: 100px;
}

#header {
	border: 0;
	margin: 0;
	padding: 0;
	box-shadow: 0 0 0 0 white;
	background: white;
	overflow: hidden;
}

#header h1 {
    padding: 0;
    margin: 0;
    background: url("/workbenchResources/gfx/enrise-creative-webtechnology-logo.gif") no-repeat scroll right 10px transparent;
    /** Min height should match background image height! **/
    min-height: 64px;
    line-height: 64px;
    color: #FFA600;
}

#content .container {
	padding: 0 0 50px;
	margin-top: 0;
	margin-bottom: 0;
	/** Needed for the rotated OAuth toggler **/
	min-height: 200px;
}

#footer {
	margin: 0;
	padding: 0;
}

#footer .container {
	border: 0;
	padding: 0;
	margin: 0;
	background-image: url(/workbenchResources/gfx/double-line.gif);
    background-repeat: repeat-x;
}

#footer .container ul {
	padding-top: 10px;
}

#enrise {
    color: #999689;
    font-size: 13px;
    margin-top: 30px;
    text-align: center;
    font-family: EnriseSemibold;
}

#enrise a, #enrise:visited a {
    background: url("http://www.enrise.com/favicon.ico") no-repeat scroll left top transparent;
    color: #FF9900;
    
    padding-left: 17px;
    text-decoration: none;
}

strong {
	font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: bold;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content div.sandbox_header input.submit {
	font-family: EnriseSemibold;
}

#content .container ul.resources li.resource div.heading h2 a,
#content .container ul.resources li.resource.active div.heading h2 a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.path a {
	/** Donkergrijs **/
    color: #999595;
    font-family: EnriseLight;
}

#content .container ul.resources li.resource:hover div.heading h2 a,
#content .container ul.resources li.resource div.heading h2 a:hover,
#content .container ul.resources li.resource:hover div.heading ul.options li a:hover {
	/** Pretty dark **/
	color: #4d4d4f;
}

#content .container ul.resources li.resource:hover div.heading ul.options li a,
#content .container ul.resources li.resource.active div.heading ul.options li a,
#content .container ul.resources li.resource div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.heading h3 span.http_method a {
	font-family: EnriseSemibold;
	padding: 7px 0 5px;
	width: 60px;
}

/** GET Specifics **/
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.get div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.get div.content h4,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.get div.content div.sandbox_header a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.get a.expandBody {
    color: #00A9D3;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.get h3 span.http_method a {
    background-color: #00A9D3;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.get div.content,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.get div.heading {
    background-color: #E7F0F7;
    border-color: #C3D9EC;
}

/** DELETE Specifics **/
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.delete div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.delete div.content h4,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.delete div.content div.sandbox_header a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.delete a.expandBody {
    color: #BB0000;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.delete h3 span.http_method a {
    background-color: #BB0000;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.delete div.content,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.delete div.heading {
    background-color: #F5E8E8;
    border-color: #E8C6C7;
}

/** POST Specifics **/
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.post div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.post div.content h4,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.post div.content div.sandbox_header a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.post a.expandBody {
    color: #87C521;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.post h3 span.http_method a {
    background-color: #87C521;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.post div.content,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.post div.heading {
    background-color: #E7F6EC;
    border-color: #C3E8D1;
}

/** PATCH Specifics **/
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.patch div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.patch div.content h4,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.patch div.content div.sandbox_header a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.patch a.expandBody {
    color: #21C4B1;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.patch h3 span.http_method a {
    background-color: #21C4B1;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.patch div.content,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.patch div.heading {
    background-color: #E7F6EC;
    border-color: #C3E8D1;
}

/** PUT Specifics **/
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.put div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.put div.content h4,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.put div.content div.sandbox_header a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.put a.expandBody {
    color: #FFA600;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.put h3 span.http_method a {
    background-color: #FFA600;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.put div.content,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.put div.heading {
    background-color: #F9F2E9;
    border-color: #F0E0CA;
}

/** OPTIONS Specifics **/
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.options div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.options div.content h4,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.options div.content div.sandbox_header a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.options a.expandBody {
    color: #4D4D4F;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.options h3 span.http_method a {
    background-color: #4D4D4F;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.options div.content,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.options div.heading {
    background-color: #EDEDED;
    border-color: #D2D2D3;
}

/** HEAD Specifics **/
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.head div.heading ul.options li a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.head div.content h4,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.head div.content div.sandbox_header a,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.head a.expandBody {
    color: #7A28A3;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.head h3 span.http_method a {
    background-color: #7A28A3;
}

#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.head div.content,
#content .container ul.resources li.resource ul.endpoints li.endpoint ul.operations li.head div.heading {
    background-color: #F1E9F5;
    border-color: #DDC9E8;
}

@media only screen and (max-width: 1048px) {
    #wrapper {
    	padding: 0;
    }
    #wrapper>div {
    	padding: 0 20px;
    }

    #wrapper #header {
        position: fixed;
        z-index: 1000;
        padding-bottom: 5px;
        box-shadow: 0 2px 5px 3px rgba(153,153,153,.8);
    }
    
    #header h1 {
    	width: 920px;
    }
    
    #wrapper #content {
        padding-top: 80px;
    }
    
    #content .container,
    #content .container .fullwidth_column,
    #footer .container {
    	width: auto;
    }
    
    #enrise {
        padding-bottom: 15px;
    }

    .togglers {
       position: relative;
       margin: 0;
       left: 0;
       top: 0;
    }
    
    .togglers li {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        margin: 0 0 0 5px;
        padding: 0 5px 0 0;
        box-shadow: none;
        display: inline;
        border-right: 1px solid #999595;
        line-height: 16px;
    }
    
    .togglers li:last-child {
        border: 0;
    }
    
    .togglers li a {
        text-decoration: none;
    }
    
    .togglers li a:hover {
        text-decoration: underline;
    }
    
    #wrapper form#oauth,
    #wrapper form#misc,
    #wrapper form#colorchange {
        margin: 8px 0 0 0;
    }
    
    #wrapper form#oauth {
    }
    
    #wrapper form#misc {
        margin-left: 130px;
    }
    
    #wrapper form#colorchange {
       margin-left: 265px;
    }
}/*/mediaquery*/